<!-- //////////////////////////// MAIN CONTENT  //////////////////////////// -->
<main class="main-content" id="CQS-physician-group-page">

  <div class="panel panel-container">
    <div class="panel-body">
      <h1>Group Name, city, state, zip</h1>
      <p class="as-of-date">As of {{_dataAsOf}}</p>

      <!-- //////////////// TABS //////////////// -->
      <router-outlet></router-outlet>

    </div>
  </div>

</main>
<!-- .main-content  -->
<!-- //////////////////////////// END MAIN CONTENT //////////////////////////// -->