<div class="col-xs-3">
    <div class="kpi-info-legend-wrapper">
        <h5>Legend &amp; info.</h5>
        <p>{{patientMetricRow.legendInfoDesc}}</p>
        <div class="legend-block">
            <div class="target-legend"><img title="legend" src="_assets/legend-red-box.svg">
                <p>Label here</p>
            </div>
            <div class="range-legend"><img title="legend" src="_assets/legend-normal-range.svg">
                <p>Label here</p>
            </div>
            <a href=""><i class="fa fa-files-o"></i>
                <p>{{patientMetricRow.metricResources}}</p>
            </a>
        </div><!-- .legend-block- -->
    </div><!-- .kpi-info-legend-wrapper- -->
</div><!-- .col- -->