<!-- //////////////// TAB 1 CONTENT //////////////// -->
<div class="tab-pane active" id="group-summary-tab">
  <!-- <h1 class="type-display-H1">Showing my patients</h1> -->
  <!-- <div class="census-wrapper pull-right">
    <p class="type-display-data-4">100</p>
    <p class="type-label-L3">{{_modality}} Patients</p>
  </div> -->
  <!-- .census-wrapper -->

  <div class="row">
    <div class="col-xs-12">

      <app-summary *ngIf="groupSummaryData" [trendData]='groupSummaryData' [update]="updateChildren" [moduleName]="'GroupSummary'"> </app-summary>

      <!-- SENTENCE BUILDER -->
      <div class="row nested-row">
        <div class="col-xs-12">
          <bi-component-sentence-builder [sentence-builder-config]="sbConfig"></bi-component-sentence-builder>
          <!-- .sentence-builder-wrapper -->
        </div>
        <!-- .col- -->
      </div>
      <!-- NESTED .row -->
    </div>
    <!-- .col- -->
  </div>
  <!-- .row -->

  <app-kpi-category *ngIf="showView == 1" [showView]="showView" [modality]="modality" [sort]="sort"> </app-kpi-category>

  <app-kpi-single-list *ngIf="showView == 0" [showView]="showView" [modality]="modality" [sort]="sort" [update]="updateChildren"> </app-kpi-single-list>

  <app-physician-single-list *ngIf="showView == 2" [modality]="modality" [sort]="sort"> </app-physician-single-list>

  <app-physician-score-overtime *ngIf="showView == 3"> </app-physician-score-overtime>

  <!-- <app-physician-compare *ngIf="showView == 4"> </app-physician-compare> -->

</div>
<!-- .tab-pane -->